<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTMX is awesome</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="flex flex-col justify-center items-center mt-20">
      <div class="">Counter</div>
      <div class="mx-auto mt-1 flex flex-row gap-3">
        <button
          hx-target="#counter"
          hx-post="#/decrease"
          class="bg-purple-500 rounded-lg p-2 w-14 text-lg"
        >
          -
        </button>
        <button
          hx-target="#counter"
          hx-post="#/increase"
          class="bg-purple-500 rounded-lg p-2 w-14 text-lg"
        >
          +
        </button>
      </div>
    </div>
  </body>
</html>
